:root{
    --color1:#399464;
    --color2:#cd2e33;
    --color3:#69a97b;
    --color4: #ddeef1;
    --color5: #c87434;
    --color6: #1b213f;
    --color7: #9e9093;
    --color8: #afd6e1;
    --color9: #94b795;
    --color10: #93b4bd;
}

