---
// Importar múltiples archivos Markdown
const posts = await Astro.glob('../posts/*.md');
import MainLayouts from "../layouts/MainLayouts.astro"
---

<MainLayouts>
    <h1>Blog de Ecoturismo</h1>
    <ul>
        {posts.map(post => (
            <li>
                <a href={`/blog/${post.frontmatter.slug}`}>{post.frontmatter.title}</a>
                <p>{post.frontmatter.description}</p>
                <p>By {post.frontmatter.author} on {new Date(post.frontmatter.date).toLocaleDateString()}</p>
            </li>
        ))}
    </ul>
</MainLayouts>
