---
import Head from "../components/templates/Head.astro"
import Header from "../components/templates/Header.astro"
import Footer from "../components/templates/Footer.astro"
import Text from "../components/atoms/text.astro"
---

<html lang="es">
  <Head title="Mi Proyecto" description="Este es un proyecto con Astro." />
  <body>
    <Header />
    <main>
      <Text text="Texto de ejemplo que aparece en todas las páginas." />
      <slot />
    </main>
    <Footer />
  </body>
</html>